<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Humanity</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img id="icon" src="/assets/home_button.png" onclick="redirectToPage('index.html')" alt="Icon">
    <div class="section section1"></div>
    <div class="section section2">
        <text style="font-size: 1rem;">제2회 한국철학·문화 디지털 융합 인재 공모전</text><br>
        <text style="font-size: 4rem;">데이터로 철학하다</text>
        <div class="boxes_column">
            <div class="box_class_column" id="user_type">
                사용자 제공 텍스트 데이터 분석
            </div>
            <div class="box_class_column">
                <div class="box_wrapper"><span>분석하려는 텍스트를 넣어주세요!</span></div>
                <textarea style="width: 100%; min-height: 4rem;"></textarea>
            </div>
            <div class="box_class_column">
                <div class="box_wrapper"><span>분석하려는 텍스트의 종류를 선택해주세요!</span></div>
                <div class="for_sub_box">
                    <div class="sub_box">한글</div>
                    <div class="sub_box">한자</div>
                </div>
            </div>
            <div class="box_class_column">
                <button id="data_analyze_button"><br>데이터 분석하기<br><br></button>
            </div>
        </div>        
    </div>
    <div class="section section3"></div>
    <script src="/static/script.js"></script> 
</body>
</html>
