<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Humanity</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img id="icon" src="/assets/home_button.png" onclick="redirectToPage('index.html')" alt="Icon">
    <text style="font-size: 1rem;">제2회 한국철학·문화 디지털 융합 인재 공모전</text>
    <br>
    <text style="font-size: 4rem;">데이터로 철학하다</text>
    <br>
    This is Page1
    <br>
    <br>
    <br>
    <script src="/static/script.js"></script> 
</body>
</html>
